﻿/* Overall generic styles
===========================*/
/* HTML5Dr suggested that we try using the body
   as a container instead of a separate div
.container */
body
{
    margin-right : 200px;
    margin-left : 200px;
}

/* Set font size */
p, ul, ol
{
    font-size : 1.1em;
}

/* This probably being nitpicky, but I'm adding this
  to get my numbered list to match the indent of my
  bulleted list. */
ol
{
    padding-left : 2.2em;
}

/* Style fieldset elements
=============================*/
/* Adjust the fieldset legend text to look like the example */
legend
{
    font-size : 1.2em;
}

/* Adjust the spacing for the paragraphs inside the fieldsets */
fieldset p
{
    margin : 0;
}

/* Added an extra div element for the fieldsets to try to make the
   spacing look like the example. */
.fieldsetDiv
{
    padding : .2em;
}

/* Style the header elements 
==============================*/
/* This styles the horizontal rule */
header hr
{
    height : 10px;
    background : lime;
    border-style : inset;
}

/* The ul and li need to be styled to make a horizontal menu listing */
header nav ul
{
    list-style-type : none;
    margin : 0;
    padding : 0;
}

header nav ul li
{
    display : inline;
}

/* Style the footer elements
=============================*/
/* Give some distance/separation between the main
   content and the footer */
footer
{
    padding-top : 4em;
}

/* Misc. specific style items
================*/
.italics
{
    font-style : italic;
}

.center-text
{
    text-align : center;
}

/* This is for figures that need to not have
   any margin.  I added this to copy the look
   shown in the homework example.*/
.noMarginFigure
{
    margin : 0;
}

/* This was also added to copy the look shown in
   the homework example.  This makes it so that the
   text doesn't have too much spacing. */
.contact-info p
{
    margin : 0;
}

/*.sub-title
{
    font-style : italic;
}

.section-header
{
    margin-bottom : 0;
}

.section-header-name
{
    font-weight : bold;
    font-style : italic;
    text-decoration : underline;
}
.non-topmargin-list
{
    margin-top : 0;   
}*/